# Archivos de ayuda
HELP.md

# Maven
target/
!target/student-events-api-0.0.1-SNAPSHOT.jar
!.mvn/wrapper/maven-wrapper.jar

# Excluir pero permitir ciertos targets
!**/src/main/**/target/
!**/src/test/**/target/

# Excluir ciertos builds
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Configuración de entornos o secretos
src/main/resources/application.dev.properties
src/main/resources/events-b4221-9dfaaed3fc17.json
src/test/java/com/devsz/studenteventsapi/StudentEventsApiApplicationTests.private.java

# Firebase config
firebase.json

##########################
# IDEs y herramientas
##########################

### STS (Spring Tool Suite)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

### NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Visual Studio Code
.vscode/
